useDynLib(CAMERA)

import("methods")
import("xcms")

export("annotate","xsAnnotate","getPeaklist","getpspectra","annotateDiffreport")
exportClasses("xsAnnotate")
exportMethods("groupFWHM")
exportMethods("findIsotopes")
exportMethods("groupCorr")
exportMethods("findAdducts")
exportMethods("show")
exportMethods("plotEICs")
exportMethods("plotPsSpectrum")
